﻿<div class="p-4">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <a routerLink="/files/add" class="btn btn-info w-100">Add file</a>
      </div>
      <div class="col-md-6">
        <a routerLink="/files" class="btn btn-outline-info w-100">Uploaded files</a>
      </div>
    </div>
  </div>
</div>
