﻿<h1>Add file</h1>
<strong class="text-danger">upload images or pdf files with up to 2 MB file size</strong>
<hr>
<form [formGroup]="uploadFileForm" (ngSubmit)="onSubmit()">
  <div class="form-row">
    <div class="form-group col">
      <label for="file">File</label>
      <input type="file" formControlName="file" [writeFile]="true" class="d-block" accept="image/png, image/gif, image/jpeg, image/jpg, text/plain, application/pdf" [ngClass]="{ 'is-invalid': submitted && fileForm.file.errors }" (change)="onFileChange($event)"/>
      <div *ngIf="submitted && fileForm.file.errors" class="invalid-feedback">
        <div *ngIf="fileForm.file.errors.required">File is required</div>
        <div *ngIf="fileForm.file.errors.extension">png, gif, jpeg, jpg, txt, pdf <strong>only are allowed</strong></div>
        <div *ngIf="fileForm.file.errors.fileSize">Maximum 2 MB file size allowed</div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <button [disabled]="loading" class="btn btn-primary">
      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
      Save
    </button>
    <a routerLink="/files" class="btn btn-link">Cancel</a>
  </div>
</form>
