﻿<a routerLink="add" class="btn btn-sm btn-info mb-2 d-inline-block w-100">Add File</a>

<div class="mt-4">
  <h2 class="text-info">image/png files</h2>
  <table class="table table-striped">
    <thead>
    <tr>
      <th style="width: 15%">Origin name</th>
      <th style="width: 15%">Path</th>
      <th style="width: 15%">Name</th>
      <th style="width: 15%">Extension</th>
      <th style="width: 15%">Size</th>
      <th style="width: 15%">Upload date</th>
      <th style="width: 15%">Preview</th>
      <th style="width: 15%">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let file of pngFiles">
      <td>{{file.originName}}</td>
      <td>{{file.path}}</td>
      <td>{{file.name}}</td>
      <td>{{file.extension}}</td>
      <td>{{file.size}}</td>
      <td>{{file.uploadDate}}</td>
      <td><a href="{{file.link}}">{{file.name}}{{file.extension}}</a></td>
      <td style="white-space: nowrap">
        <button (click)="deleteFile(file.id,'.png')" class="btn btn-sm btn-danger btn-delete-user" [disabled]="file.isDeleting">
          <span *ngIf="file.isDeleting" class="spinner-border spinner-border-sm"></span>
          <span *ngIf="!file.isDeleting">Delete</span>
        </button>
      </td>
    </tr>
    <tr *ngIf="!pngFiles">
      <td colspan="8" class="text-center">
        <span class="spinner-border spinner-border-lg align-center"></span>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div class="mt-4">
  <h2 class="text-info">image/gif files</h2>
  <table class="table table-striped">
    <thead>
    <tr>
      <th style="width: 15%">Origin name</th>
      <th style="width: 15%">Path</th>
      <th style="width: 15%">Name</th>
      <th style="width: 15%">Extension</th>
      <th style="width: 15%">Size</th>
      <th style="width: 15%">Upload date</th>
      <th style="width: 15%">Preview</th>
      <th style="width: 15%">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let file of gifFiles">
      <td>{{file.originName}}</td>
      <td>{{file.path}}</td>
      <td>{{file.name}}</td>
      <td>{{file.extension}}</td>
      <td>{{file.size}}</td>
      <td>{{file.uploadDate}}</td>
      <td><a href="{{file.link}}">{{file.name}}{{file.extension}}</a></td>
      <td style="white-space: nowrap">
        <button (click)="deleteFile(file.id,'.gif')" class="btn btn-sm btn-danger btn-delete-user" [disabled]="file.isDeleting">
          <span *ngIf="file.isDeleting" class="spinner-border spinner-border-sm"></span>
          <span *ngIf="!file.isDeleting">Delete</span>
        </button>
      </td>
    </tr>
    <tr *ngIf="!gifFiles">
      <td colspan="8" class="text-center">
        <span class="spinner-border spinner-border-lg align-center"></span>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div class="mt-4">
  <h2 class="text-info">image/jpeg files</h2>
  <table class="table table-striped">
    <thead>
    <tr>
      <th style="width: 15%">Origin name</th>
      <th style="width: 15%">Path</th>
      <th style="width: 15%">Name</th>
      <th style="width: 15%">Extension</th>
      <th style="width: 15%">Size</th>
      <th style="width: 15%">Upload date</th>
      <th style="width: 15%">Preview</th>
      <th style="width: 15%">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let file of jpegFiles">
      <td>{{file.originName}}</td>
      <td>{{file.path}}</td>
      <td>{{file.name}}</td>
      <td>{{file.extension}}</td>
      <td>{{file.size}}</td>
      <td>{{file.uploadDate}}</td>
      <td><a href="{{file.link}}">{{file.name}}{{file.extension}}</a></td>
      <td style="white-space: nowrap">
        <button (click)="deleteFile(file.id,'.jpeg')" class="btn btn-sm btn-danger btn-delete-user" [disabled]="file.isDeleting">
          <span *ngIf="file.isDeleting" class="spinner-border spinner-border-sm"></span>
          <span *ngIf="!file.isDeleting">Delete</span>
        </button>
      </td>
    </tr>
    <tr *ngIf="!jpegFiles">
      <td colspan="8" class="text-center">
        <span class="spinner-border spinner-border-lg align-center"></span>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div class="mt-4">
  <h2 class="text-info">image/jpg files</h2>
  <table class="table table-striped">
    <thead>
    <tr>
      <th style="width: 15%">Origin name</th>
      <th style="width: 15%">Path</th>
      <th style="width: 15%">Name</th>
      <th style="width: 15%">Extension</th>
      <th style="width: 15%">Size</th>
      <th style="width: 15%">Upload date</th>
      <th style="width: 15%">Preview</th>
      <th style="width: 15%">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let file of jpgFiles">
      <td>{{file.originName}}</td>
      <td>{{file.path}}</td>
      <td>{{file.name}}</td>
      <td>{{file.extension}}</td>
      <td>{{file.size}}</td>
      <td>{{file.uploadDate}}</td>
      <td><a href="{{file.link}}">{{file.name}}{{file.extension}}</a></td>
      <td style="white-space: nowrap">
        <button (click)="deleteFile(file.id,'.jpg')" class="btn btn-sm btn-danger btn-delete-user" [disabled]="file.isDeleting">
          <span *ngIf="file.isDeleting" class="spinner-border spinner-border-sm"></span>
          <span *ngIf="!file.isDeleting">Delete</span>
        </button>
      </td>
    </tr>
    <tr *ngIf="!jpgFiles">
      <td colspan="8" class="text-center">
        <span class="spinner-border spinner-border-lg align-center"></span>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div class="mt-4">
  <h2 class="text-info">document/txt files</h2>
  <table class="table table-striped">
    <thead>
    <tr>
      <th style="width: 15%">Origin name</th>
      <th style="width: 15%">Path</th>
      <th style="width: 15%">Name</th>
      <th style="width: 15%">Extension</th>
      <th style="width: 15%">Size</th>
      <th style="width: 15%">Upload date</th>
      <th style="width: 15%">Preview</th>
      <th style="width: 15%">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let file of textFiles">
      <td>{{file.originName}}</td>
      <td>{{file.path}}</td>
      <td>{{file.name}}</td>
      <td>{{file.extension}}</td>
      <td>{{file.size}}</td>
      <td>{{file.uploadDate}}</td>
      <td><a href="{{file.link}}">{{file.name}}{{file.extension}}</a></td>
      <td style="white-space: nowrap">
        <button (click)="deleteFile(file.id,'.txt')" class="btn btn-sm btn-danger btn-delete-user" [disabled]="file.isDeleting">
          <span *ngIf="file.isDeleting" class="spinner-border spinner-border-sm"></span>
          <span *ngIf="!file.isDeleting">Delete</span>
        </button>
      </td>
    </tr>
    <tr *ngIf="!textFiles">
      <td colspan="8" class="text-center">
        <span class="spinner-border spinner-border-lg align-center"></span>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div class="mt-4">
  <h2 class="text-info">document/pdf files</h2>
  <table class="table table-striped">
    <thead>
    <tr>
      <th style="width: 15%">Origin name</th>
      <th style="width: 15%">Path</th>
      <th style="width: 15%">Name</th>
      <th style="width: 15%">Extension</th>
      <th style="width: 15%">Size</th>
      <th style="width: 15%">Upload date</th>
      <th style="width: 15%">Preview</th>
      <th style="width: 15%">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let file of pdfFiles">
      <td>{{file.originName}}</td>
      <td>{{file.path}}</td>
      <td>{{file.name}}</td>
      <td>{{file.extension}}</td>
      <td>{{file.size}}</td>
      <td>{{file.uploadDate}}</td>
      <td><a href="{{file.link}}">{{file.name}}{{file.extension}}</a></td>
      <td style="white-space: nowrap">
        <button (click)="deleteFile(file.id,'.pdf')" class="btn btn-sm btn-danger btn-delete-user" [disabled]="file.isDeleting">
          <span *ngIf="file.isDeleting" class="spinner-border spinner-border-sm"></span>
          <span *ngIf="!file.isDeleting">Delete</span>
        </button>
      </td>
    </tr>
    <tr *ngIf="!pdfFiles">
      <td colspan="8" class="text-center">
        <span class="spinner-border spinner-border-lg align-center"></span>
      </td>
    </tr>
    </tbody>
  </table>
</div>
