﻿<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
    <a class="nav-item nav-link" routerLink="/files" routerLinkActive="active">Files</a>
  </div>
</nav>

<!-- main app container -->
<div class="app-container">
    <app-alert></app-alert>
    <router-outlet></router-outlet>
</div>
